include block_html/_style.pug
include block_html/_include.pug


//.main-section(style="background-image:url('img/main-baner.jpg')")
.main-section
	.main-section-filter
	.header
		.header-top
			.main-cont
				.header-cont
					a(href="/").header-logo
						img(src="img/Logo.svg", alt="")
					.header-info
						.header-info__el
							.header-info__text Техподдержка
							a(href="#").header-info__numb 8-800-505-72-50
						.header-info__el
							.header-info__toggle
								.header-info__text.header-info__text--town
									span Москва
									+icon("arrow-down","icon")
								.header-info__sub
									.header-info__sub-title Выберите свой регион
									-
										var items = [
											'Москва',
											'Санкт-Петербург',
											'Татарстан',
											'Сочи',
											'Новосибирск'
											];
									each item in items
										a.header-info__sub-el(href="#" class=item== 'Москва' ? 'header-info__sub-el--active' : null) #{item}
							a(href="#").header-info__numb 8-800-555-14-98
					.header-get
						.header-get__el
							.btn--icon
								+icon("Phone","nav-icon")
								span Связаться с нами
						.header-get__el
							span Бесплатная консультация
					.header-toggle
						+icon("menu","icon")
		.sub-header
			.main-cont
				.sub-header__wrap
					-
						var items = [
							'Автоматизация',
							'Обслуживание',
							'Консалтинг',
							'Оборудование',
							'База знаний',
							'Блог',
							'О компании'
							];
					each item in items
						a(href="#").sub-header__el #{item}
		.main-cont.main-cont-slider
			.main-section-slider-control
				.slider-control__el.slider-control__el--left
					+icon("triangle-arrow-left","icon")
				.slider-control__el.slider-control__el--right
					+icon("triangle-arrow-right","icon")
			.main-section-slider
				- for (var i=0;i<3;i++)
					.main-section-slogan
						.main-section-title Автоматизация ресторанов #{i + 1}
						.main-section-text Мы помогаем управлять бизнесом и финансами, быстро строить и анализировать любые отчеты, сокращать расходы и увеличивать продажи системы iiko
						.main-section-get
							a(href="#").main-section-get__el Выбрать готовый пакет
							a(href="#").main-section-get__el-mark  Бесплатная консультация

//section tools
.tools
	.main-cont
		.tools-cont
			.tools-wrap
				a(href="#").tools__el
					.tools__el-icon
						+icon("atom","icon")
					.tools__el-title
						span Автоматизация
						+icon("arrow-simple-right","icon")
					.tools__el-text Обеспечение правильной работы с системой всех сотрудников ресторана

				a(href="#").tools__el
					.tools__el-icon
						+icon("support","icon")
					.tools__el-title
						span Обслуживание
						+icon("arrow-simple-right","icon")
					.tools__el-text Обеспечение правильной работы с системой всех сотрудников ресторана

				a(href="#").tools__el
					.tools__el-icon
						+icon("folder","icon")
					.tools__el-title
						span Консалтинг
						+icon("arrow-simple-right","icon")
					.tools__el-text Обеспечение правильной работы с системой всех сотрудников ресторана

				a(href="#").tools__el
					.tools__el-icon
						+icon("service","icon")
					.tools__el-title
						span Оборудование
						+icon("arrow-simple-right","icon")
					.tools__el-text Обеспечение правильной работы с системой всех сотрудников ресторана

// section config
.section.section-config
	.section-title Что даёт автоматизация
	.section-title-sub Выберите отделы для автоматизации и сравните результаты
	.main-cont
		.config
			//chart-column
			.config-col.config-col--one
				//chart-el
				+chartOffice()
				//chart-el
				+chartBar()
				.config-col-mobile
					+chartKichen()
					//chart-el
					+chartGarage()
					//chart-el
					+chartPlace()
			//center-part
			.config-col-chart
				.main-chart
					//circle bar
					.main-chart-wrap
						.main-chart-bar
							.main-chart-cont
								.main-chart-textbox
									.main-chart-val
										.chart-smile
											+icon("smile-good","icon")
										.chart-percent
											span.chart-percent-val 0
											span %
									.main-chart-title Клиенты довольны <br> Прибыль растёт
									.main-chart-text Повышение лояльности к заведению <br> Быстрое, качественное <br> обслуживание
					+chartKichen()
			//chart-column
			.config-col.config-col--three
				//chart-el
				+chartGarage()
				//chart-el
				+chartPlace()

//solution automatic
.section.section-solution.section--gray
	.section-title Решения для автоматизации HoReCa
	.main-cont
		.solution
			.solution__head-wrap
				.solution__head
					-
						var items = [
							'Сеть заведений',
							'Ресторана',
							'Фастфуда',
							'Бара',
							'Кафе',
							'Кофейни',
							'Столовой',
							'Пиццерии',
							'Доставки'
						];
					each item in items
						.solution__head-el.tab-head(class=item== 'Сеть заведений' ? 'tab-head--active' : null) #{item}
			.solution-info
				- for (var i=0;i<9;i++)
					.solution__cont.tab-cont(class=i==0 ? 'tab-cont--active' : null)
						.solution__cont-img
							img(src="img/phone.jpg", alt="")
						.solution__cont-info
							.solution__title Управление рестораном с быстрым обслуживанием #{i}
							.solution__text В iiko — масса полезных инструментов для ресторана быстрого обслуживания: удобные меню-борды, табло статуса заказа, поддержка формата take away, мобильные приложения для гостей, персонала и руководителя и многое другое.
							.solution__get
								.solution__get-el Подробнее
								.solution__get-el-mark Оформить

//facts
.section.section-facts.section--mark
	.section-title.section-title--white Факты и достижения
	.facts
		.main-cont
			.facts-wrap
				-
					var items = [
							{
								val:'1 467',
								text:'Реализованных проектов'
							},
							{
								val:'250',
								text:'Сэкономленных рабочих часов'
							},
							{
								val:'№1',
								text:'Первые \tв рейтинге iiko'
							},
							{
								val:'24/7',
								text:'Поддержка'
							},
							{
								val:'3 часа',
								text:'На устранение\tпроблем'
							},
							{
								val:'На 120%',
								text:'Увеличение прибыли клиента'
							},
							{
								val:'На 80%',
								text:'Увеличение потока клиентов'
							},
							{
								val:'На 250%',
								text:'Увеличение среднего чека'
							}
						];
				each item in items
					.facts__el
						.facts__el-title #{item.val}
						.facts__el-text #{item.text}

//clients
.section.section-clients.section--gray
	.section-title Клиенты и отзывы
	.client-slider-wrap
		.client-slider-container
			- for (var i=0;i<4;i++)
				.client-slider
						.client-slider__el
							.client-slider__el-text
								p #{i} Леонид, здравствуйте! Письма получаю, огромное за это спасибо! Всё открывается, читается, слушается. Вообще, курсы интересны и поучительны, а главное, предельно лаконичны и понятны.Сотрудничество с вашей компанией приносит одно удовольствие. Удивительная оперативность в решении любых вопросов! Хочется отметить внимательность и приветливость всего персонала. А за терпеливость - им отдельное СПАСИБО! По вопросам, наверное, позднее, привыкаем к iiko.
							.client-slider__el-info
								.client-slider__el-logo
									img(src="img/review-logo.png", alt="")
								.client-slider__el-block
									.client-slider__el-title Алексей Поздняков
									.client-slider__el-about Совладелец и генеральный директор сети кофеек Coffe Crew
								//.client-slider__nav
									.client-slider__nav-el.client-slider__nav-el-left
										+icon("triangle-arrow-left","icon")
									.client-slider__nav-el.client-slider__nav-el-right
										+icon("triangle-arrow-right","icon")

	.btn-row--center
		a(href="#").get-review Все отзывы

//help
.section.section-help(style="background-image:url('img/bg-light.jpg')")
	.main-cont
		.help
			.help-info
				.help-info__title Требуется помощь специалиста?
				.help-info__text Получите бесплатную консультацию нашего эксперта и узнайте как сделать ресторан лучше 
				a(href="#").help-info__get Бесплатная консультация
			.help-img
				img(src="img/woomen.png", alt="")
			

//footer
.footer
	.main-cont
		.footer-wrap
			.footer-tab
				.footer__head-wrap
					.footer__head
						-
							var items = [
								'Москва',
								'Санкт-Петербург',
								'Татарстан',
								'Сочи',
								'Новосибирск'
							];
						each item in items
							.footer__head-el.tab-head(class=item == 'Москва' ? 'tab-head--active' : null) #{item}
				.footer-info
					- for (var i=0;i<5;i++)
						.footer__cont.tab-cont(class=i == 0 ? 'tab-cont--active' : null)
							.footer-tab__cont
								.footer-tab__info
									a(href="tel:+7(499)281-62-08").footer__cont-adr__numb +7(499)
										span 281-62-08
									a(href="mailto:msk@open-s.info").footer__cont-adr__mail msk@open-s.info

								.footer__tab-adr
									span г. Москва, 23й км. Калужского шоссе, домовл. 14


			.footer-help
				.footer-help__title Техподдержка 24/7
				a(href="tel:8-800-505-72-50").footer-help__phone 8-800-505-72-50
				a(href="mailto:info@open-s.info").footer-help__mail info@open-s.info
			.footer-soc
				.footer-soc__title Мы в соц.сетях
				.soc__row
					-
						var items = [
							'soc-vk',
							'soc-facebook',
							'soc-instagram',
							'soc-youtube'
							];
					each item in items
						a(href="#").footer-soc__el
							+icon(item,"icon")

//footer-sub
.footer-sub
	.main-cont
		.footer-sub__wrap
			.footer-sub__info
				.footer-sub__info-title 2010-2017 OpenService
				a(href="#").footer-sub__info-link Политика конфиденциальности
			.footer-sub__nav
				-
					var items = [
						'Автоматизация',
					'Обслуживание',
					'Консалтинг',
					'Оборудование',
					'База знаний',
					'Блог',
					'О компании',
					'Контакты'
						];
				each item in items
					a(href="#").footer-sub__nav-el #{item}
			.footer-sub__logo
				a(href="#")
					img(src="img/logo-jq.png", alt="")

+footer()
.tooltip-filter

.nav
	.nav-wrap
		.nav-close
			+icon("close","icon")
		.nav-content
			.nav-list
				-
					var items = [
						'Автоматизация',
						'Обслуживание',
						'Консалтинг',
						'Оборудование',
						'База знаний',
						'Блог',
						'О компании'
					];
				each item in items
					a(href="#").nav-list__el #{item}
			.nav-get
				.nav-get__el
					.btn--icon
						+icon("Phone","nav-icon")
						span Связаться с нами
				.nav-get__el
					span Бесплатная консультация
			.header-info__el.header-info__el--nav
				.header-info__toggle
					.header-info__text.header-info__text--town
						span Москва
						+icon("arrow-down","icon")
					.header-info__sub
						.header-info__sub-title Выберите свой регион
						-
							var items = [
							'Москва',
							'Санкт-Петербург',
							'Татарстан',
							'Сочи',
							'Новосибирск'
							];
						each item in items
							a.header-info__sub-el(href="#" class=item == 'Москва' ? 'header-info__sub-el--active' : null) #{item}
			a(href="tel:8-800-555-14-98").nav-phone 8-800-555-14-98

include ./block_html/_script.pug
