// mixin nameMixin()
// - var args = Array.prototype.slice.call(arguments)
// - for item in args

mixin icon(name,cls)
	svg(class=cls)
		use(xlink:href="#" + name)

mixin checkbox(text,disable)
	.check-el
		if disable
			label.style-label.style-label--checkbox.style-label--disable
				input(type="checkbox").sytle-input
				.sytle-input-element
					+icon("checked","icon-check")
				.sytle-input-text=text
		else
			label.style-label.style-label--checkbox
				input(type="checkbox").sytle-input
				.sytle-input-element
					+icon("checked","icon-check")
				.sytle-input-text=text
mixin radio(text,group,disable)
	.check-el
		if disable
			label.style-label.style-label--radio.style-label--disable
				input(type="radio" name="group").sytle-input
				.sytle-input-element
					.icon-radio
				.sytle-input-text=text
		else
			label.style-label.style-label--radio
				input(type="radio" name="group").sytle-input
				.sytle-input-element
					.icon-radio
				.sytle-input-text=text

mixin incr(a)
	- a = a || 1
	.elements-icr-block
		.incr
			.incr__minus.incr__nav
				+icon("minus","icon")
			.incr__val
				span=a
				.incr__val-coner
			.incr__plus.incr__nav
				+icon("plus","icon")

//charts-el
mixin inChartOffice()
	.config__tip
		.config__tip-wrap
			.config__tip-coner
			.config__tip-title Время затраты отдела в часах/неделю
			.config__tip-chart
				.progress-bar(data-value="1")
				.config__tip-chart-val
					span -100%
			.config__tip-row
				.config__tip-color.config__tip-color--purp
				.config__tip-text До внедрения
			.config__tip-row
				.config__tip-color.config__tip-color--red
				.config__tip-text Сэкономленное время после автоматизации

mixin inChartBar()
	.config__tip
		.config__tip-wrap
			.config__tip-coner
			.config__tip-title Бухгалтер-калькулятор
			.config__tip-chart
				.progress-bar(data-value=".5")
					.config__tip-chart-val
						span -50%
			.config__tip-row
				.config__tip-color.config__tip-color--purp
				.config__tip-text До внедрения
			.config__tip-row
				.config__tip-color.config__tip-color--red
				.config__tip-text Сэкономленное время после автоматизации

mixin inChartKichen()
	.config__tip
		.config__tip-wrap
			.config__tip-coner
			.config__tip-title Бухгалтер-калькулятор
			.config__tip-chart
				.progress-bar(data-value=".5")
					.config__tip-chart-val
						span -50%
			.config__tip-row
				.config__tip-color.config__tip-color--purp
				.config__tip-text До внедрения
			.config__tip-row
				.config__tip-color.config__tip-color--red
				.config__tip-text Сэкономленное время после автоматизации

mixin inChartGarage()
	.config__tip
		.config__tip-wrap
			.config__tip-coner
			.config__tip-title Бухгалтер-калькулятор
			.config__tip-chart
				.progress-bar(data-value="1")
					.config__tip-chart-val
						span -100%
			.config__tip-row
				.config__tip-color.config__tip-color--purp
				.config__tip-text До внедрения
			.config__tip-row
				.config__tip-color.config__tip-color--red
				.config__tip-text Сэкономленное время после автоматизации

mixin inchartPlace()
	.config__tip
		.config__tip-wrap
			.config__tip-coner
			.config__tip-title Бухгалтер-калькулятор
			.config__tip-chart
				.progress-bar(data-value=".5")
					.config__tip-chart-val
						span -50%
			.config__tip-row
				.config__tip-color.config__tip-color--purp
				.config__tip-text До внедрения
			.config__tip-row
				.config__tip-color.config__tip-color--red
				.config__tip-text Сэкономленное время после автоматизации

//charts-el===edn

//charts containers

mixin chartOffice()
	.config-el.config-el--first.config-content--active
		.config__head
			.chart-line.chart-line--left-top
			.config__toggle
				.config__toggle-pin.config__toggle-pin--active
					span
				.config__toggle-text Офис
			.config__stat
				+inChartOffice()
				.config__stat-head
					.config__stat-title Статистика
					.config__stat-icon
						+icon("statistick","icon")
			.config__toggle-slide
				.config__toggle-el.config__toggle-el--show Подробнее
				.config__toggle-el.config__toggle-el--hide Свернуть
		.config-content
			.config-content__filter
			.config-title Владелец/Управляющий
			.config-text Полный контроль работы заведения Защита от воровства
			.config-link
				a(href="#").config-link__el Iiko Back Office
				a(href="#").config-link__el Iiko Dashboard
			.config-chart-mobile
				+inChartOffice()

mixin chartBar()
	.config-el.config-content--active
		.config__head
			.chart-line.chart-line--left-bottom
			.config__toggle
				.config__toggle-pin.config__toggle-pin--active
					span
				.config__toggle-text Бар
			.config__stat
				+inChartBar()
				.config__stat-head
					.config__stat-title Статистика
					.config__stat-icon
						+icon("statistick","icon")
			.config__toggle-slide
				.config__toggle-el.config__toggle-el--show Подробнее
				.config__toggle-el.config__toggle-el--hide Свернуть
		.config-content
			.config-content__filter
			.config-title Бармен
			.config-text Быстрая инвентаризация бара. Открытие/закрытие смены по чек листу
			.config-link
				a(href="#").config-link__el Iiko Back Office
				a(href="#").config-link__el Iiko Dashboard
			.config-chart-mobile
				+inChartBar()

mixin chartKichen()
	.chart-el.chart-el--center
		.config-el.config-content--active
			.config__head
				.chart-line.chart-line--center
				.config__toggle
					.config__toggle-pin.config__toggle-pin--active
						span
					.config__toggle-text Кухня
				.config__stat
					+inChartKichen()
					.config__stat-head
						.config__stat-title Статистика
						.config__stat-icon
							+icon("statistick","icon")
				.config__toggle-slide
					.config__toggle-el.config__toggle-el--show Подробнее
					.config__toggle-el.config__toggle-el--hide Свернуть
			.config-content
				.config-content__filter
				.config-title Повар
				.config-text Эффективное производство Качественное планирование склада
				.config-link
					a(href="#").config-link__el Iiko Back Office
					a(href="#").config-link__el Iiko Dashboard
				.config-chart-mobile
					+inChartKichen()

mixin chartGarage()
	.config-el.config-el--first.config-content--active
		.config__head
			.chart-line.chart-line--right-top
			.config__toggle
				.config__toggle-pin.config__toggle-pin--active
					span
				.config__toggle-text Склад
			.config__stat
				+inChartGarage()
				.config__stat-head
					.config__stat-title Статистика
					.config__stat-icon
						+icon("statistick","icon")
			.config__toggle-slide
				.config__toggle-el.config__toggle-el--show Подробнее
				.config__toggle-el.config__toggle-el--hide Свернуть
		.config-content
			.config-content__filter
			.config-title Бухгалтер-калькулятор
			.config-text Полный контроль формирования себестоимости.Своевременные  отчеты
			.config-link
				a(href="#").config-link__el Iiko Back Office
				a(href="#").config-link__el Iiko Dashboard
			.config-chart-mobile
				+inChartGarage()

mixin chartPlace()
	.config-el.config-content--active
		.config__head
			.chart-line.chart-line--right-bottom
			.config__toggle
				.config__toggle-pin.config__toggle-pin--active
					span
				.config__toggle-text Зал
			.config__stat
				+inchartPlace()
				.config__stat-head
					.config__stat-title Статистика
					.config__stat-icon
						+icon("statistick","icon")
			.config__toggle-slide
				.config__toggle-el.config__toggle-el--show Подробнее
				.config__toggle-el.config__toggle-el--hide Свернуть
		.config-content
			.config-content__filter
			.config-title Официант
			.config-text Быстрое обслуживание клиентов. Предотвращение конфликтных ситуаций.
			.config-link
				a(href="#").config-link__el Iiko Back Office
				a(href="#").config-link__el Iiko Dashboard
			.config-chart-mobile
				+inchartPlace()

mixin question-form()
	.question-form
		.question-form__title.title-lg.title--center Задать вопрос
		form(action="")
			.question-form__wrap
				.question-form__inputs
					input(type="text" placeholder="Ваше имя" name="").input
					input(type="text" placeholder="Должность" name="").input
					input(type="text" placeholder="Компания" name="").input
				.question-form__textarea
					textarea(name="", cols="30", rows="5" placeholder="Вопрос").textarea

			.question-form__confirm
				+checkbox('Согласен с условиями обработки персональных данных')
				input(type="submit" placeholder="" value='Отправить').btn--md-fix.btn--mark

mixin bread()
	.bread
		a(href="#").bread__el Пункт 1
		a(href="#").bread__el Пункт 2
		a(href="#").bread__el Пункт 3

mixin footer-cat()
	.footer-cat
		.main-cont
			.footer-cat-list
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text Контроль перемещения курьеров
					.footer-cat-list__el-link iikoRadar
				a(href="#").footer-cat-list__el.footer-cat-list__el--active
					.footer-cat-list__el-text Виджет для приёма заказов
					.footer-cat-list__el-link iikoDelivery Widget
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text Пакет информационных сообщений
					.footer-cat-list__el-link iikoNotification
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text Прием и распределение заказов в
					.footer-cat-list__el-link iikoCallCenter
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text Подключение АТС к рабочему месту оператора
					.footer-cat-list__el-link iikoPbx
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text Мобильное приложение для курьера
					.footer-cat-list__el-link iikoDeliveryMan
				a(href="#").footer-cat-list__el
					.footer-cat-list__el-text Распределение заказов между курьерами
					.footer-cat-list__el-link iikoDelivery Logistics
//charts containers===end
