// mixin nameMixin()
// - var args = Array.prototype.slice.call(arguments)
// - for item in args

mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
mixin radio(text,group,disable)
  .check-el
    if disable
      label.style-label.style-label--radio.style-label--disable
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text
    else
      label.style-label.style-label--radio
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text

mixin incr(a)
  - a = a || 1
  .elements-icr-block
    .incr
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span=a
        .incr__val-coner
      .incr__plus.incr__nav
        +icon("plus","icon")
